/* ========================================

    CODE YOUR STYLES BELOW!

   ====================================== */

   .shadow-typo {
    color: #00b3b4;
    font-size: 5rem;
    text-transform: uppercase;
    text-shadow: 3px 3px 0px #e7eef1, 8px 8px 0px rgba(0, 0, 0, 0.1);
   }

   .threedee-typo {
       color: hsla(0, 100%, 50%, 1);
       text-transform: uppercase;
       font-size: 5rem;
       text-shadow : 1px 1px hsla(0, 100%, 50%, 1),
                     2px 2px hsla(0, 100%, 40%, 1),
                     3px 3px hsla(0, 100%, 40%, 1),
                     4px 4px hsla(0, 100%, 40%, 1),
                     5px 5px hsla(0, 100%, 40%, 1),
                     6px 6px hsla(0, 100%, 40%, 1),
                     7px 7px hsla(0, 100%, 30%, 1),
                     8px 8px hsla(0, 100%, 30%, 1),
                     9px 9px hsla(0, 100%, 20%, 0.8),
                     10px 10px hsla(0, 0%, 0%, 0.6);
        -webkit-transform: skew(-7deg, 0deg);
        -moz-transform:    skew(-7deg, 0deg);
        -o-transform:      skew(-7deg, 0deg);
        -ms-transform:     skew(-7deg, 0deg);  
        transform:         skew(-7deg, 0deg);         
   }